.irods-field-header {
    font-weight: bold;
}

div {}
.irods-error {
    background:#f2dede;
    border:1px solid #f00;
    list-style-indent:inside;
    margin:0 0 2em;
    padding:1em;
    display: none;
}

.irods-warning {
    background: #fc4;
    border:1px solid #0000;
    margin: 30px auto;
    padding:1em;
    text-align: center;
    display: none;
},
.irods-success {
    background: #d7fed7;
    border:1px solid #0f0;
    margin: 30px auto;
    padding:1em;
    text-align: center;
    display: none;
}

input.irods-input-warning {
    background: #fc4;
    border:1px solid #f00;
}

input.irods-input-error {
    background:#f2dede;
    border:1px solid #f00;
}
